<form>
  <div class="well form-group">
    <label for="name">Enter a Name:</label>
    {{input value=name id="name"}}

  </div>
  <button type="btn btn-default" {{action 'beerLookup'}}>Submit</button>
</form>
